:root {
    --main-bg: hsla(300, 7%, 3%, 1); /* Black */
    --secondary-bg: hsla(300, 7%, 20%, 1); /* Black */
    --main-text: hsla(120, 4%, 91%, 1); /* Gray */
    --accent-1: hsla(222, 100%, 61%, 1); /* Blue */
    --accent-2: hsla(356, 74%, 52%, 1); /* Red */
    --accent-3: hsla(44, 98%, 62%, 1); /* Yellow */
}

html {
    font-size: 62.5%;
    width: 100%;
    margin: 0;
}

body { 
    margin: 0;
    background-color: var(--main-bg);
    font-size: 1.4rem;
    color: var(--main-text);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

a {
    color: var(--main-text);
}

a:hover {
    color: var(--accent-1);
}

/* --- HEADER --- */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    background-color: var(--secondary-bg);
}

.site-title-link {
    text-decoration: none;
}

.site-title-link h1 {
    margin: 0;
}

/* --- nav --- */
.site-nav {
    margin-left: 10%;
}

.site-nav-list {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav-link {
    display: block;
    padding: 0 .5rem;
    font-size: 2.2rem;
}

.active-nav-link {
    color: var(--accent-2);
}

/* ---FOOTER--- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 0;
    background-color: var(--secondary-bg);
}

.social-link {
    display: inline-block;
    padding: 1rem;
    font-size: 2rem;
}

/* MAIN CONTAINER */

.main-container {
    text-align: center;
}